h1 {

  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: clamp(1rem, 2vw + 0.5rem, 2rem);
  color: white;
  font-weight: 600;
}

form {

  margin: 30px auto;
  max-width: 700px;
  padding: 0 10px 30px 10px;

  .form-action {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 15px;

    button {
      cursor: pointer;
      font-family: Montserrat, sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      border-radius: 10px;
      border: 0;
      padding: 10px 20px;
      text-align: center;
      box-sizing: border-box;
      transition: all 0.2s ease;

      &.clear {
        color: white;
        background-color: rgb(164, 0, 0);
      }

      &.send {
        color: white;
        background-color: rgb(11, 154, 0);
      }

      &:hover {
        transform: scale(1.08);
      }
      &:disabled {
        background: gray;
        cursor: not-allowed;
      }
    }
  }
}

::ng-deep .mat-expansion-panel {
  margin: 0 !important;
  border-bottom: none !important;
}

mat-panel-title {
  font-size: clamp(12px, 1.5vw, 1rem) !important;
  font-family: Montserrat, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}







