<h1>Форма создания банковской транзакции</h1>
<form [formGroup]="form">
  <div class="form-wrapper">
  <mat-accordion class="glass-accordion" >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Данные клиента</mat-panel-title>
        <div class="error-field" *ngIf="!clientInfoForm.invalid">
          <img src="./assets/images/correct.png">
        </div>
      </mat-expansion-panel-header>
      <app-client-info [clientInfo]="clientInfoForm"></app-client-info>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Адрес регистрации</mat-panel-title>
        <div class="error-field" *ngIf="!addressForm.invalid">
          <img src="./assets/images/correct.png">
        </div>
      </mat-expansion-panel-header>
      <app-address [address]="addressForm"></app-address>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Банковские реквизиты</mat-panel-title>
        <div class="error-field" *ngIf="!bankDetails.invalid">
          <img src="./assets/images/correct.png">
        </div>
      </mat-expansion-panel-header>
      <app-bank-details [bankDetails]="bankDetails"></app-bank-details>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Информация о транзакции</mat-panel-title>
        <div class="error-field" *ngIf="!transactionInfo.invalid">
          <img src="./assets/images/correct.png">
        </div>
      </mat-expansion-panel-header>
      <app-transaction-info [transactionInfo]="transactionInfo" ></app-transaction-info>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Дополнительные документы</mat-panel-title>
        <div class="error-field" *ngIf="!documents.invalid">
          <img src="./assets/images/correct.png">
        </div>
      </mat-expansion-panel-header>
      <app-additional-documents [documents]="documents"></app-additional-documents>
    </mat-expansion-panel>
  </mat-accordion>
  </div>
  <div class="form-action">
    <button class="send" [disabled]="form.invalid" (click)="onSubmit()">Отправить</button>
    <button class="clear" (click)="clearForm()">Очистить</button>
  </div>
</form>
