@import "assets/styles/inputs";
@import "assets/styles/errors";

html, body {
  height: 100%;
margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //background: linear-gradient(140deg, rgba(33, 27, 102, 1) 0%, rgba(57, 57, 184, 1) 39%, rgba(0, 212, 255, 1) 100%);
  background-image: url("assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;


}


