.error-message{
  color: red;
  line-height: 1;
  font-size: 12px;
  margin-top: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.error-field{
  margin-right: 20px;
  img{
    width: 16px;
    height: 16px;

  }
}
